<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href='https://fonts.googleapis.com/css?family=Russo One' rel='stylesheet'>

    <style>
        *{
            margin: 0;
        }
        .navImg{
            filter: brightness(70%);
            position: relative;
        }
        .dashboard{
            position: relative;
        }
        .introTxt{
            position: absolute;
            color: rgb(255, 255, 255);
            margin-top: -15%;
            margin-left: 26%;
            font-family: 'Russo One';
            font-size: 2em;
            letter-spacing: 5px;
        }
        
    </style>
</head>
<body>
    <nav>
        <div class="dashboard">    
            <img class="navImg" src="{{dashboard}}" alt="car" style="width: 100%;height:300px;">
            <div class="introTxt">
                <h2>Tell Us about your car</h2>
            </div>    
        </div>
        <p id="errorMsg"></p>
    </nav>
</body>
</html>